@media screen and (min-width: 540px) {
    #arearesponsive__container {
        background-color: black;
        font-size: 1.5vh;
        height: 73vh !important;
        padding-top: 9vh;
        width: 100vw !important;
    }
}
@media screen and (max-width: 280px) {

    #arearesponsive__container {
        background-color: black;
        font-size: 0.8rem;
        height: 74vh !important;
        padding-top: 10vh;
        width: 95vw !important;
    }
}
@media screen and (max-width: 539px) {
    #arearesponsive__container {
        background-color: black;
        font-size: 0.8rem;
        height: 72vh !important;
        padding-top: 10vh;
        width: 100vw !important;
    }
}
.recharts-surface {
    background-color: black !important;
}

svg {
    height: 100% !important;
}

// @media screen and (min-height: 641px) and (max-height: 653px){
//     #arearesponsive__div {
//         height: 82vh;
//         width: 95vw;
//     }
// }

// moto G4
// galaxy s5
// pixel 2
// iphone 5/6/7/8

@media screen and (max-height: 731px) and (min-width: 281px) {
    #arearesponsive__div {
        height: 76vh;
        width: 95vw;
    }
}

@media screen and (min-height: 732px) and (max-height: 735px){
    #arearesponsive__div {
        height: 78vh;
        width: 95vw;
    }
}

// iphone 6/7/8 plus

@media screen and (min-height: 736px) and (max-height: 800px){
    #arearesponsive__div {
        height: 76vh;
        width: 95vw;
    }
}

// px 2 xl
// iphone x

@media screen and (min-height: 801px) and (max-height: 823px) and (min-width: 411px) {
    #arearesponsive__div {
        height: 78vh;
        width: 95vw;
    }
}

@media screen and (min-height: 801px) and (max-height: 823px) {
    #arearesponsive__div {
        height: 79vh;
        width: 95vw;
    }
}