.layout__arrows {
    display: none;
}

@media screen and (max-width: 1024px) and (min-width: 768px) and (max-height: 1366px) and (min-height: 1024px) {

#layout__title {
    margin-right: 0vw !important;
}
#layout__title__hidden {
    margin-right: 0vw !important;
}
.prev {
    position: absolute;
    color: white;
    margin-top: 26vh;
    margin-left: 2vw;
}
.next {
    margin-left: 97vw;
    margin-top: 26vh;
    color: white;
    position: absolute;
    /* align-self: flex-end; */
}
.prev-sec {
    margin-top: 26vh;
    margin-left: 1.3vw;
    position: absolute;
    color: white;
}
}
@media screen and (min-width: 768px) {
    a {
        margin-top: 9.5vh;
        margin-left: 1.4vw;
    }
    #layout__planet {
        background-image: linear-gradient(
    90deg
    , rgba(255, 255, 255, 0.1) 1%, rgba(163, 188, 193, 0.2) 50%), url('planet-biggest.jpg');
        height: 91vh;
        width: 100vw;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
    }
    .layout__labels {
        position: absolute;
        margin-top: 24vh;
        color: #ffffffd6;
        font-weight: 700;
        font-size: 1.7vw;
        padding: 0vh 3vw 0vh 5vw;
    }
    .layout__icon {
        width: 5.4vw !important;
        margin-bottom: 4.5vh;
    }
      #layout__title {
        color: rgba(255, 255, 255, 0.75);
        font-size: 4.7vw;
        font-family: 'Nanum Gothic', sans-serif;
        margin-right: 15vw;
    }
    #layout__title__hidden {
        color: rgba(255, 255, 255, 0.75);
        font-size: 4.7vw;
        font-family: 'Nanum Gothic', sans-serif;
        margin-right: 15vw;
    }
    #layout__panels {
        width: 50%;
    }
    #hide__lower {
        display: none;
    }

    #other__layout__panels {
        width: 50%;
    }
    .navbar__sd__home {
        margin: 2vh;
        align-self: center;
        font-weight: 700;
        font-size: 2.7vh;
        color: rgba(0, 0, 0, 0.4);
    }
    
    #layout__top-layer-panels {
        display: flex;
        width: 50vw;
        height: 45.5vh;
    }
    #other__layout__top-layer-panels {
        display: flex;
        width: 50vw;
        height: 45.5vh;
    }
    .layout__panels__top__right {
        background-color: #c1baba;
        display: flex;
        width: 29.5vw;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        color: #5a4343;
    }
    #hide__lower {
        display: none !important;
    }
    #hide__upper {
        display: none !important;
    }
    .other__layout__panels__top__right {
        background-color: #d7d7e6 !important;
        display: flex;
        width: 29.5vw;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        color: white !important;
        justify-content: end;
    }
    .layout__panels__top__left {
        background-color: #d7d7e6;
        width: 21vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }
    .other__layout__panels__top__left {
        background-color: #5a4343;
        width: 21vw;
        color: #5a4343;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        justify-content: end;
    }
    .layout__panels__bottom__right {
        background-color: #a89595;
        width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        justify-content: end;
    }
    .layout__panels__bottom__left {
        background-color: #68687b;
        width: 25vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }
    .other__layout__panels__bottom__left {
        background-color: #68687b;
        width: 25vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        justify-content: end;
    }
    .layout__labels__white {
        position: absolute;
        margin-top: 24vh;
        color: #5a4343;
        font-weight: 700;
        font-size: 1.7vw;
        padding: 0vh 4vw 0vh 7vw;
    }
    #layout__bottom-layer-panels {
        display: flex;
        width: 50vw;
        height: 45.5vh;
    }
    #other__layout__bottom-layer-panels {
        display: flex;
        width: 50vw;
        height: 45.5vh;
    }
}


@media screen and (min-width: 768px) and (min-height: 1024px) and (max-width: 1366px) {
    #layout__planet {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1%, rgba(163, 188, 193, 0.2) 50%), url("planet-bigger.jpg");
        height: 50vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .layout__labels {
        position: absolute;
        margin-top: 18vh;
        color: #ffffffd6;
        font-weight: 700;
        font-size: 2.2vh;
    }
    .layout__icon {
        width: 8vw !important;
    }
    #layout__title {
        color: rgba(255,255,255,0.75);
        font-size: 5.5vh;
        font-family: 'Nanum Gothic', sans-serif;
    }
    #layout__title__hidden {
        color: rgba(255,255,255,0.75);
        font-size: 5.5vh;
        font-family: 'Nanum Gothic', sans-serif;
    }
    #layout__panels {
        width: 100vw;
        height: 52.3vh;
        background-color: #ffffff;
        position: absolute;
        margin-top: 80vh;
    }
    #other__layout__panels {
        width: 100vw;
        height: 52.3vh;
        background-color: #ffffff;
        position: absolute;
        margin-top: 80vh;
    }
        
    #layout__top-layer-panels {
        display: flex;
        width: 100vw;
        height: 25vh;
    }
            
    #other__layout__top-layer-panels {
        display: flex;
        width: 100vw;
        height: 25vh;
    }
        #layout__bottom-layer-panels {
        display: flex;
        width: 100vw;
        height: 27vh;
    }
    #other__layout__bottom-layer-panels {
        display: flex;
        width: 100vw;
        height: 27vh;
    }
        .layout__panels__top__right {
        background-color: white;
        display: flex;
        width: 58vh;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
        color: #5a4343;
    }
    .other__layout__panels__top__right {
        display: flex;
        width: 58vh;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }
    
    .layout__panels__top__left {
        background-color: #d7d7e6;
        width: 42vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }
    .other__layout__panels__top__left {
        width: 42vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }
    .layout__panels__bottom__right {
        background-color: #3d3434;
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }
    .layout__panels__bottom__left {
        background-color: #68687b;
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }
    .other__layout__panels__bottom__left {
        background-color: #68687b;
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }
    .layout__labels__white {
        position: absolute;
        margin-top: 17.3vh;
        color: #5a4343;
        font-weight: 700;
        font-size: 2.2vh;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 1024px) {
    #layout__planet {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1%, rgba(163, 188, 193, 0.2) 50%), url("./planet-bigger.jpg");
        height: 50vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .layout__labels {
        position: absolute;
        margin-top: 19vh;
        color: #ffffffd6;
        font-weight: 700;
    }
    .layout__icon {
        width: 9vw !important;
    }
      #layout__title {
        color: rgba(255, 255, 255, 0.75);
        font-size: 6.5vh;
        font-family: 'Nanum Gothic', sans-serif;
    }
    #layout__title__hidden {
        color: rgba(255, 255, 255, 0.75);
        font-size: 6.5vh;
        font-family: 'Nanum Gothic', sans-serif;
    }
    #layout__panels {
        width: 100vw;
        height: 52.3vh;
        background-color: #ffffff;
        position: absolute;
        margin-top: 79.6vh;
    }
    #other__layout__panels {
        width: 100vw;
        height: 52.3vh;
        background-color: #ffffff;
        position: absolute;
        margin-top: 79.6vh;
    }
    #layout__top-layer-panels {
        display: flex;
        width: 100vw;
        height: 25vh;
    }
    #other__layout__top-layer-panels {
        display: flex;
        width: 100vw;
        height: 25vh;
    }
    #layout__bottom-layer-panels {
        display: flex;
        width: 100vw;
        height: 28vh;
    }
    #other__layout__bottom-layer-panels {
        display: flex;
        width: 100vw;
        height: 28vh;
    }
    .layout__panels__top__right {
        background-color: white;
        display: flex;
        width: 58vw;
        flex-direction: column;
        align-items: center;
        font-size: 2.1vh;
        color: #5a4343;
    }
    .other__layout__panels__top__right {
        display: flex;
        width: 58vw;
        flex-direction: column;
        align-items: center;
        font-size: 2.1vh;
    }
    .layout__panels__top__left {
        background-color: #d7d7e6;
        width: 42vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.1vh;
    }
    .other__layout__panels__top__left {
        width: 42vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.1vh;
    }
    .layout__panels__bottom__right {
        background-color: #3d3434;
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.1vh;
    }
    .layout__panels__bottom__left {
        background-color: #68687b;
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.1vh;
    }
    .other__layout__panels__bottom__left {
        background-color: #68687b;
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.1vh;
    }
    .layout__labels__white {
        position: absolute;
        margin-top: 18.2vh;
        color: #5a4343;
        font-weight: 700;
    }
}

@media screen and (min-width: 768px) and (max-height: 1023px){
    .prev {
        position: absolute;
        color: white;
        margin-top: 40vh;
        margin-left: 2vw;
    }
.next {
    margin-left: 48vw;
    margin-top: 40vh;
    color: #5a4343;
    position: absolute;
}
.prev-sec {
    margin-top: 40vh;
    margin-left: 1.3vw;
    position: absolute;
    color: white;
}
}
@media screen and (min-width: 540px) and (max-width: 767px) {
    .prev {
        position: absolute;
        color: white;
        margin-top: 31vh;
        margin-left: 2vw;
    }
    .next {
        margin-left: 97vw;
        margin-top: 31vh;
        color: #5a4343;
        position: absolute;
    }
    .prev-sec {
        margin-top: 31vh;
        margin-left: 1.3vw;
        position: absolute;
        color: white;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }
    #hide__lower {
        display: none !important;
    }
    #hide__upper {
        display: none !important;
    }
    a {
        margin-top: 7.5vh;
    }
    #layout__planet {
        width: 100vw;
        height: 91vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .layout__icon {
        width: 7.8vw !important;
      }
      .layout__labels {
        position: absolute;
        margin-top: 21vh;
        color: #ffffffd6;
        font-weight: 700;
    }
    .layout__labels__white {
        position: absolute;
        margin-top: 21vh;
        color: #5a4343;
        font-weight: 700;
    }
    #layout__title {
        margin-bottom: 63vh;
    }
    #layout__title__hidden {
        margin-bottom: 63vh;
    }
    #layout__panels {
        width: 100vw;
        height: 61.5vh;
        background-color: #ffffff;
        position: absolute;
        margin-top: 29.5vh;
    }
    #other__layout__panels {
        width: 100vw;
        height: 61.5vh;
        background-color: #ffffff;
        position: absolute;
        margin-top: 29.5vh;
    }
    
    #layout__planet {
        background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 1%, rgba(163,188,193,0.2) 50%), url("small-planet.jpg");
    }
    #layout__top-layer-panels {
        display: flex;
        width: 100vw;
        height: 29vh;
    }
    #other__layout__top-layer-panels {
        display: flex;
        width: 100vw;
        height: 29vh;
    }
    #layout__bottom-layer-panels {
        display: flex;
        width: 100vw;
        height: 33vh;
    }
    #other__layout__bottom-layer-panels {
        display: flex;
        width: 100vw;
        height: 33vh;
    }
    #layout__mid-layer-panels {
        height: 50%;
        width: 100vw;
        background-color: #9c9bac;
    }
    .layout__panels__top__right {
        background-color: white;
        display: flex;
        width: 58%;
        flex-direction: column;
        align-items: center;
        font-size: 2.3vh;
        color: #5a4343;
    }
    .other__layout__panels__top__right {
        display: flex;
        width: 58%;
        flex-direction: column;
        align-items: center;
        font-size: 2.3vh;
        background-color: #d7d7e6 !important;
    }
    
    .layout__panels__top__left {    
        background-color: #d7d7e6;
        width: 42vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }
        
    .other__layout__panels__top__left {    
        width: 42vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }

    .layout__panels__bottom__right {
        background-color: #68687b;
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }
    .layout__panels__bottom__left {
        background-color: #3d3434;
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }    
    .other__layout__panels__bottom__left {
        background-color:rgb(90, 67, 67);
        width: 50vw;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.5vh;
    }   
}



@media screen and (max-width: 539px) {
    #layout__title__hidden {
    display: none;
}

.layout__hidden {
    display: none !important;
}
    #layout__panels {
        display: none;
    }
    #other__layout__panels {
        display: none;
    }
    #hide__upper {
        display: none;
    }
    #hide__lower {
        display: none;
    }
    #layout__title {
        color: rgba(255, 255, 255, 0.8);
        font-size: 4.5vh;
        font-family: 'Nanum Gothic', sans-serif;

    }
    #layout__planet{
        background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 1%, rgba(163,188,193,0.2) 50%), url("planet.jpg");
        width: 100vw;
        height: 94vh;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 767px) and (min-width: 415px) {

    #layout__title {
        color: rgba(255, 255, 255, 0.8);
        font-size: 4.5vh;
        font-family: 'Nanum Gothic', sans-serif;
    }
    #layout__title__hidden {
        color: rgba(255, 255, 255, 0.8);
        font-size: 4.5vh;
        font-family: 'Nanum Gothic', sans-serif;
    }
}





