@import './settings.scss';

a {
    color: white;
    font-size: 2.5vh;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
}

// "navbar__buttons" : "navbar__closed"
@media screen and (min-width: 750px) and (min-height: 1020px) {
    #navbar__sd {
        height: 5.5rem;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width: 1025px) {
    #navbar__sd {
        height: 5.5rem;
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 539px) {
    #navbar__sd {
        display: none;
    }
}

@media screen and (min-width: 539px) {
    #navbar__buttons {
        display: none;
    }
    #navbar__sandwich {
        display: none;
    }
    #navbar__sd {
        height: 9vh;
        display: flex;
        justify-content: flex-end;
    }
    .navbar__sd__home {
        margin: 1.5vh 2.8vw;
        align-self: center;
        font-weight: 700;
        font-size: 3.2vh;
        color: rgba(0, 0, 0, 0.4);
    }
}

#navbar__closed {
    display: none;
}

#navbar__home {
    width: 10vw;
}

@media screen and (max-width: 539px) {
    #navbar__with__buttons {
        display: none;
    }
}

@media screen and (max-width: 414px) {
    #navbar__buttons {
        background-image: linear-gradient(
    90deg
    , rgba(255, 255, 255, 0.2) 1%, rgba(163, 188, 193, 0.4) 50%), url('planet.jpg');
        width: 100vw;
        height: 94vh;
        align-self: flex-end;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        position: absolute;
        list-style-type: none;
        justify-content: space-evenly;
        font-size: 3.5vh;
        font-family: 'Nanum Gothic', sans-serif;
        z-index: 1;
    }
}
#navbar__with__buttons {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: $galaxy-max) {
    #navbar__sandwich {
        margin: 1vh 2vw;
    }
    #navbar__with__buttons {
        height: 6vh;
    }

}

@media screen and (max-width: 539px) and (min-width: $other-mobiles-min) {
    #navbar__sandwich {
        margin: 2vh;
        width: 11vw;
        height: 5vh;
    }
    #navbar__with__buttons {
        height: 8vh;
    }
}

@media screen and (max-width: 539px) {
    #navbar {
        display: flex;
        justify-content: flex-end;
    }
    #navbar__buttons {
        background-image: linear-gradient(
    90deg
    , rgba(255, 255, 255, 0.2) 1%, rgba(163, 188, 193, 0.4) 50%), url("planet.jpg");
        width: 100vw;
        height: 94vh;
        align-self: flex-end;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        position: absolute;
        list-style-type: none;
        justify-content: space-evenly;
        font-size: 3.5vh;
        font-family: 'Nanum Gothic', sans-serif;
        z-index: 1;
        margin-top: 7.9vh;
    }
}

@media screen and (max-width: 280px) {
    #navbar__buttons {
        margin-top: 5.9vh;
    }
}

@media screen and (max-width: 360px) and (min-height: 640px) and (max-height: 650px) {
    #navbar__buttons {
        margin-top: 3.2rem;
    }
}

@media screen and (max-width: 411px) and (min-width: 359px) {
    #navbar__buttons {
        margin-top: 8vh;
    }
}

@media screen and (max-width: 411px) and (min-width: 359px) and (min-height: 823px) {
    #navbar__buttons {
        margin-top: 4.1rem;
    }
}

@media screen and (max-width: 375px) and (min-width: 360px) and (min-height: 667px) {
    #navbar__buttons {
        margin-top: 3.3rem;
    }    
}

@media screen and (max-width: 320px) and (min-height: 568px) and (max-height: 570px) {
    #navbar__buttons {
        margin-top: 2.88rem;
    }   
}

@media screen and (max-width: 414px) and (min-height: 736px) and (max-height: 811px) {
    #navbar__buttons {
        margin-top: 3.7rem;
    }    
}

@media screen and (max-width: 414px) and (min-height: 812px) {
    #navbar__buttons {
        margin-top: 4rem;
    }
}