// mobile

// galaxy

$galaxy-max: 280px;

// other mobiles

$other-mobiles-max: 414px;
$other-mobiles-min: 281px;
$sandwich-height-width: 36px;

// G4 S5

$GS-max-width: 360px;
$GS-max-height: 640px;


$p2-min-width: 411px;
$p2-max-height: 732px;

$pxl-min-height: 733px;

